{% extends "base.html" %}

{% block head_title %}
    Create/Update  
{% endblock head_title %}

{% block content %}
{% if post %}
    <form method="post" action="{% url 'post_update' post.pk %}" class="space-y-4">
        {% csrf_token %}
        <div class="mb-4">
            <label for="id_title" class="block text-gray-700 font-medium mb-2">Title</label>
            <input type="text" name="title" id="id_title" value="{{ post.title }}"
                class="border-2 border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500" required>
        </div>
        <div class="mb-4">
            <label for="id_content" class="block text-gray-700 font-medium mb-2">Content</label>
            <textarea name="content" id="id_content" rows="4"
                class="border-2 border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500" required>{{ post.content }}</textarea>
        </div>
        <div class="flex justify-end space-x-4">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Save</button>
        </div>
    </form>
{% else %}
    <form method="post" action="{% url 'post_create' %}" class="space-y-4">
        {% csrf_token %}
        <div class="mb-4">
            <label for="id_title" class="block text-gray-700 font-medium mb-2">Title</label>
            <input type="text" name="title" id="id_title"
                class="border-2 border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500" required>
        </div>
        <div class="mb-4">
            <label for="id_content" class="block text-gray-700 font-medium mb-2">Content</label>
            <textarea name="content" id="id_content" rows="4"
                class="border-2 border-gray-300 rounded-lg px-4 py-2 w-full focus:outline-none focus:border-blue-500 focus:ring-1 focus:ring-blue-500" required></textarea>
        </div>
        <div class="flex justify-end space-x-4">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Save</button>
        </div>
    </form>
{% endif %}

{% endblock content %}