{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<h1>{{ title }}</h1>
<div class="post-entry">
  <form action="" method="post">{% csrf_token %}
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-primary text-white" id="basic-addon1">案號</span>
        </div>
          {% render_field form.title|add_class:"form-control col-md-6" type="text" placeholder="請輸入案號" %}

        <div class="input-group-prepend pl-2"> 
          <span class="input-group-text bg-warning text-white">使用者</span>
        </div>
        {% render_field form.author|add_class:"form-control col-md-6" %}
      </div>
    </div>
      
    <div class="row mb-4">
      <div class="input-group">
        <div class="input-group-prepend"> 
          <span class="input-group-text bg-info text-white">內文</span>
        </div>
        {% render_field form.body|add_class:"form-control" rows='10' value='{{my_value}}' placeholder="請輸入內文" %}
      </div>
    </div>
    <div class="row">
      <input class="btn btn-success col-md-3" type="submit" value="{{value}}" />
    </div>

  </form>
</div>
{% endblock content %}